<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Şantiye_otomasyon_proje.Properties.Settings.Şantiye_personelConnectionString"
            connectionString="Data Source=DESKTOP-T0T772B;Initial Catalog=Şantiye_personel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Şantiye_otomasyon_proje.Properties.Settings.PersonelVeritabaniConnectionString"
            connectionString="Data Source=DESKTOP-MVAK1TR\SQLEXPRESS;Initial Catalog=PersonelVeritabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>